<!-- application -->
<div class="hold-transition sidebar-mini dark-mode">

  <!-- Site wrapper -->
  <div class="wrapper">

      <!-- Navbar -->
      <app-navbar></app-navbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>
      <!-- /.Main Sidebar Container -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        
        <div class="container-fluid">
          <!-- change content -->
          <router-outlet></router-outlet>
          <!-- /.change content -->
        </div>

      </div>
      <!-- /.content-wrapper -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- ./footer -->

  </div>
  <!-- ./wrapper -->

</div>
<!-- /.application -->
